# credentials
config/master.key
.env.production
.env.*.local

# docker files
/docker/*
docker-compose*
.dockerignore

# unnecessary production files
README.md
.git
.gitignore
.vscode/
node_modules/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.semaphore-cache
